# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/

# Django
src/db.sqlite3
*.log
media/
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

#SECRET KEYS
secretenv

# Testing
.pytest_cache/
.coverage
htmlcov/