<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}M-Motors{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="M-Motors est une plateforme de vente et location de véhicules permettant de simplifier les démarches administratives et la transmission de documents en ligne. Projet réalisé par Krikcor dans le cadre d'un Bachelor en développement Python.">
    <meta name="author" content="Krikcor">
    <meta name="keywords" content="voiture, vente automobile, location voiture, concessionnaire, documents administratifs, gestion véhicule, Django, projet Bachelor Python">
    <meta name="robots" content="index, follow">
    <meta name="language" content="fr">
    <meta property="og:title" content="M-Motors - Vente et location de véhicules">
    <meta property="og:description" content="Plateforme de vente et location de véhicules avec gestion des documents administratifs en ligne. Projet Django réalisé par Krikcor.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr_FR">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" sizes="32x32" type="image/png" href="../../media/accueil/onglet.png">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>

    {% include "partials/navbar.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
